@import '~primeicons/primeicons.css';
/* Styles from original angular demo */

/*
h2 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
button {
  font-family: Arial;
  background-color: #eee;
  margin: 6px 8px 6px 8px;
  min-width: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

*/

/* everywhere else */
/*
* {
  font-family: Arial, Helvetica, sans-serif; 
}
*/

/* Changes specifically for extractor UI*/

/* apparently you can */
/*
.row {
    margin-top: 15px;
    margin-bottom: 15px;
}
*/
/* make sidebar nav vertical */

/*
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
}
.the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
*/

.criteria-tree {
    height: 40%;
    width: 2000px;
    margin: 0;
    overflow: auto;
    padding: .25em;
    white-space: nowrap;
}

div.ui-datatable-scrollable-body {
    overflow-y: scroll;
}

.nameIdListBox{
    width: 100%;
    overflow: hidden;
    max-width: 300px !important;
    min-width: 100px !important;
}

.tableTooltip {
    max-width: 500px !important;
}

td{
    width: 300px !important;
}

button {
    min-height: 18px;
    min-width: 18px;
    cursor: hand;
    padding:0px;
}

i{
    min-height: 16px !important;
    min-width: 16px !important;
}